
#content{
  width: 420px;
  height: 320px;
  padding: 10px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.login-header{
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
}

.login-header img{
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
